.menu {
	--items-padding: 12px;
	position: fixed;
	inset: var(--header-block-size) 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	block-size: calc(100dvh - var(--header-block-size));
	padding-inline: var(--items-padding);
	overflow-y: auto;
	visibility: hidden;
	opacity: 0;
	transition: visibility 300ms, opacity 300ms, background-color var(--theme-transition-duration);
	z-index: 1000;
	backdrop-filter: blur(10px);
	background: rgb(0, 0, 0, 0.8);
}

.menu.open {
	visibility: visible;
	backdrop-filter: blur(10px);
	opacity: 1;
}

.navList {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-block: 24px 48px;
	list-style: none;
	padding-inline-start: 0;
	margin: 0;
	width: 100%;
}

.navLink {
	display: flex;
	align-items: center;
	block-size: 48px;
	padding-inline: var(--items-padding);
	color: var(--color-text-secondary);
	text-align: center;
	width: 100%;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.2em;
}

.optionsWrapper {
	display: flex;
	flex-direction: column;
	row-gap: 32px;
	margin-block-start: auto;
}

.dark .contactButton {
	background-color: #dddddd;
	color: var(--color-text);
	margin-inline: var(--items-padding);
	padding: 12px;
	border: 1px solid var(--color-stroke);
	border-radius: 5px;
	font-weight: bold;
	font-size: 1em;
}

.light .contactButton {
	background-color: #333333;
	color: var(--color-text);
	margin-inline: var(--items-padding);
	padding: 12px;
	border: 1px solid var(--color-stroke);
	border-radius: 5px;
	font-weight: bold;
	font-size: 1em;
}

.block {
	border-block-start: 1px dashed var(--color-text-secondary);
}

.themeWrapper {
 display: flex;
 justify-content: center;
 align-items: center;
 block-size: 80px;
 padding-inline: var(--items-padding);
 color: var(--color-text-secondary);
 transition: border-block-start-color var(--theme-transition-duration);
	transform: translateY(-10px);
}

.themeText {
	transform: translateY(-2px);
}

.themeText2 {
	transform: translateY(-1px);
}

.themeWrapper > * {
 flex: 1;
 display: flex;
 justify-content: center;
 align-items: center;
}

.themeWrapper2 {
 display: flex;
 padding-inline: var(--items-padding);
 color: var(--color-text-secondary);
 transition: border-block-start-color var(--theme-transition-duration);
}

.themeWrapper2 > * {
 flex: 1;
 display: flex;
 justify-content: center;
 align-items: center;
}

.button {
	--size: 32px;
	display: grid;
	justify-items: center;
	align-content: center;
	row-gap: 8px;
	inline-size: var(--size);
	block-size: var(--size);
	margin-inline-start: auto;
	padding-inline: 0;
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
}
.buttonLine {
	inline-size: 80%;
	block-size: 3px;
	border-radius: 2px;
	background-color: currentColor;
	transform-origin: 7px;
	transition: transform 300ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.button.open > .buttonLine:first-of-type {
	transform: rotateZ(45deg) translate(2px);
}

.button.open > .buttonLine:last-of-type {
	transform: rotateZ(-45deg) translate(2px);
}

@media screen and (min-width: 769px) {
	.button,
	.menu {
		display: none;
	}
}

.dark .menu {
	background-color: rgba(0, 0, 0, 0.9);
}

.dark .navLink {
	color: #e0e0e0;
}

.dark .contactButton {
	background-color: #444444;
	color: #e0e0e0;
}

.dark .themeWrapper {
	border-block-start-color: #444444;
}

.light .menu {
	background-color: rgba(255, 255, 255, 0.9);
}

.light .navLink {
	color: #333333;
}

.light .contactButton {
	background-color: #dddddd;
	color: #333333;
}

.light .themeWrapper {
	border-block-start-color: #dddddd;
}
