.scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #030303;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: opacity 0.3s ease-in-out, background-color 0.3s, transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px); 
    font-size: 16px;
}

.scrollToTop.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.scrollToTop.hide {
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
}

.scrollToTop.up {
    transform: rotate(0deg);
}

.scrollToTop.down {
    transform: rotate(180deg);
}

.scrollToTop:hover {
    background-color: #1f1f1f;
}

@media (min-width: 768px) {
    .scrollToTop {
        width: 75px;
        height: 75px;
        font-size: 30px;
    }
}

@media (min-width: 1024px) {
    .scrollToTop {
        width: 60px;
        height: 60px;
        font-size: 24px;
    }
}
