.card {
	--border-radius: 8px;
	position: relative;
	transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.card:active {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transform: translateY(2px);
}

.imageWrapper {
	overflow: hidden;
	border-radius: var(--border-radius);
}

.link {
	position: absolute;
	inset: 0;
	z-index: 1;
	font-size: 0;
	border-radius: var(--border-radius);
	overflow: hidden;
}

.image {
	inline-size: 100%;
	block-size: auto;
	border-radius: var(--border-radius);
	filter: saturate(0);
	transition: filter 250ms ease-in-out, transform 250ms ease-in-out;
	transform-origin: center;
	will-change: transform, filter;
}

.card:hover .image {
	filter: none;
	transform: scale(1.05);
	cursor: url('~/public/assets/cursor/hand-pointer.png'), auto;
}

.card .image {
	transform: scale(1);
}

.title {
	padding-block-start: 12px;
}
