.section {
	padding: 50px 20px;
	text-align: center;
	background-color: #000000;
	color: #e0e0e0;
}

.phrase {
	font-size: 1rem;
	margin-bottom: 20px;
}

.availableCircle {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  margin-left: 5px;
  position: relative;
  animation: circle-pulse 2s infinite ease-in-out;
}

.buttonContainer {
  max-width: 300px;
  margin: 0 auto;
}

.title {
	font-size: 3rem;
	font-weight: bold;
	margin: 20px 0;
	background: -webkit-linear-gradient(45deg, #ff6ec4, #7873f5);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.introSubtitle {
	font-size: 1.5rem;
	margin: 20px 0;
}

.actions {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin-top: 30px;
}

.actionBtn {
	padding: 15px 30px;
	border-radius: 50px;
	font-weight: bold;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.actionBtn:hover {
	background-color: #3700b3;
	color: #ffffff;
	cursor: url('~/public/assets/cursor/hand-pointer.png'), auto;
}

.copyEmailButton {
	display: inline-block;
	margin-top: 10px;
}

@media screen and (max-width: 768px) {
	.actions {
		flex-direction: column;
		gap: 10px;
	}

	.title {
		font-size: 2.5rem;
	}

	.introSubtitle {
		font-size: 1.25rem;
	}
}

@keyframes circle-pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 hsl(126 38% 48% / 0.9);
	}
	50% {
		transform: scale(1);
		box-shadow: 0 0 0 8px hsl(126 38% 48% / 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 hsl(126 38% 48% / 0);
	}
}