.section-wrapper {
	padding: 20px;
	max-width: 1200px;
	margin: 0 auto;
}

.title {
	font-size: 2em;
	margin-bottom: 20px;
	text-align: center;
	letter-spacing: 1px;
}

.aboutMeContainer {
	display: flex;
	align-items: flex-start;
	gap: 20px;
}

.textWrapper {
	flex: 2;
	line-height: 1.6;
}

.paragraph {
	font-size: 1.1em;
	color: #cbcbcb;
	margin-bottom: 15px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	text-align: justify;
}

.photoWrapper {
	flex: 1;
	display: flex;
	justify-content: center;
}

.photo {
	max-width: 250px;
	width: 100%;
	height: auto;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
