.section-wrapper {
	padding: 20px 40px; 
	max-width: 1200px;
	margin: 0 auto;
}

.title {
	font-size: 2em;
	margin-bottom: 20px;
	text-align: center;
	letter-spacing: 1px;
	color: var(--text-color);
}

.aboutMeContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.textWrapper {
	line-height: 1.6;
	text-align: center;
	color: var(--text-color);
}

.paragraph {
	font-size: 1.1em;
	color: var(--text-color);
	margin-bottom: 15px;
	text-align: justify;
}

.photoWrapper {
	display: flex;
	justify-content: center;
	width: 100%;
}

.photo {
	max-width: 250px;
	width: 100%;
	height: auto;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: filter 0.7s ease, transform 0.7s ease, box-shadow 0.7s ease;
	filter: grayscale(100%) brightness(70%);
	transform: scale(1) rotate(0deg);
}

.photoWrapper:hover .photo {
	filter: grayscale(0%) brightness(100%);
	transform: scale(1.05) rotate(3deg);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

@media (min-width: 768px) and (max-width: 1024px) {
	.aboutMeContainer {
		flex-direction: row;
		align-items: center;
		gap: 40px;
	}

	.textWrapper {
		text-align: left;
		flex: 1;
	}

	.photoWrapper {
		flex: 1;
		justify-content: center;
	}

	.photo {
		max-width: 300px;
	}
}

@media (min-width: 1025px) {
	.section-wrapper {
		padding: 20px 100px;
	}

	.textWrapper, .paragraph {
		max-width: 800px;
		margin: 0 auto;
	}

	.aboutMeContainer {
		padding: 20px 80px;
	}
}

@media (max-width: 767px) {
	.photoWrapper {
		justify-content: center;
		width: 100%;
	}

	.photo {
		margin: 0 auto;
	}
}

@media (min-width: 1024px) {
	.paragraph {
		margin-bottom: 30px;
	}
}

body.dark .title,
body.dark .textWrapper,
body.dark .paragraph {
	color: #f1f1f1;
}

body.light .title,
body.light .textWrapper,
body.light .paragraph {
	color: #030303;
}
