.footer {
	min-block-size: 100px;
	border-block-start: 1px solid var(--color-stroke);
	font-size: clamp(20px, 19.024px + 0.259vw, 24px);
	transition: border-block-start-color var(--theme-transition-duration);
	background-color: #030303;
	text-align: center;
	margin-block-start: -40px;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	justify-content: center;
	align-items: center;
	max-inline-size: var(--max-inline-size);
	margin-inline: auto;
	padding-block: 32px;
}

.year {
	text-wrap: nowrap;
	color: #fff;
	font-size: clamp(14px, 1.5vw, 18px);
}

.linksWrapper {
	display: flex;
	justify-content: center;
	gap: 16px;
	flex-wrap: wrap;
	color: #fff;
}

.link {
	display: flex;
	align-items: center;
	text-decoration: none;
	font-size: 16px;
	color: #fff;
	transition: color 0.3s;
}

.link:hover {
	color: #0073b1;
}

.link i {
	margin-right: 8px;
	font-size: 1.2em;
}

.link.linkedin:hover {
	color: #0073b1;
}

.link.github:hover {
	color: #333;
}

.link.email:hover {
	color: #5e5a5a;
}

.link.youtube:hover {
	color: #FF0000;
}

.link.itchio:hover {
	color: #fa5c5c;
}

@media (min-width: 768px) {
	.footer {
		margin-top: 20px;
	}
	.wrapper {
		flex-direction: row;
		justify-content: space-between;
	}

	.year {
		order: 1;
		margin-bottom: 0;
	}

	.linksWrapper {
		order: 2;
		justify-content: flex-end;
		gap: 24px;
		margin-right: 58px;
	}
}

@media (max-width: 767px) {
	.footer {
		padding: 20px;
	}

	.year {
		font-size: 0.9em;
		margin-bottom: 16px;
	}

	.linksWrapper {
		flex-direction: row;
		justify-content: center;
	}
}
