.form {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	padding-block-start: 24px;
}

.labelWrapper {
	display: inline-block;
	padding-block-end: 8px;
}

.error {
	color: #ff4d4f;
	font-size: 0.875rem;
	margin-top: 0.5rem;
	padding: 0.5rem 0.75rem;
	background-color: #fff1f1;
	border: 1px solid #ffcccc;
	border-radius: 5px;
	font-weight: 500;
	line-height: 1.5;
}