.title {
    font-size: 2em;
    margin: 16px 0 20px 0;
    text-align: center;
    letter-spacing: 1px;
    padding: 0 20px;
}

.faqContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
}

.paragraph {
    font-size: 1.1em;
    margin-bottom: 15px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    text-align: justify;
    padding: 0 20px;
}

.goHomeLink {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    font-size: 16px;
    max-width: 200px;
    width: 100%;
    box-sizing: border-box;
}

.goHomeLink:hover {
    background-color: #211f1f;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
}

@media (max-width: 768px) {
    .title {
        font-size: 1.5em;
        padding: 0 15px;
    }

    .paragraph {
        font-size: 1em;
        padding: 0 15px;
    }

    .goHomeLink {
        font-size: 14px;
        padding: 8px;
    }

    .section {
        padding: 0 15px;
    }
}

body.dark .paragraph {
    color: #f1f1f1;
}

body.light .paragraph {
    color: #030303;
}
