.wrapper {
    max-inline-size: 800px;
    margin-inline: auto;
    padding-inline: 16px;
    background-color: #111111;
}

.faqContainer {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding-block: 32px 80px;
    text-align: center;
    padding-inline: 20px;
}

.title {
    text-align: center;
    font-size: 44px;
    padding-block: 32px;
    margin-bottom: 4px;
    color: #eaeaea;
    font-weight: bold;
    position: relative;
}

.title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #0070f3;
    margin: 8px auto 0;
    transition: width 0.3s ease;
}

.title:hover::after {
    width: 80px;
}

.subtitle{
    font-size: 1.125em;
    line-height: 1.6;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 40px;
    color: #b3b3b3;
    max-width: 800px;
}

.title1 {
    font-size: 30px;
    margin-bottom: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    color: #eaeaea;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #333;
    margin: 30px 0;
}

.paragraph {
    font-size: 1.1em;
    margin-bottom: 15px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    text-align: justify;
    padding-inline: 210px;
    color: #eaeaea;
}

.image {
    justify-content: center;
    align-items: center;
    filter: grayscale(100%) brightness(70%);
    transform: scale(.75) rotate(0deg);
    transition: filter 0.7s ease, transform 0.7s ease, box-shadow 0.7s ease;
    border: 3px solid #333;
    transform-origin: center;
    width: auto;
    
}

.image:hover {
    filter: grayscale(0%) brightness(100%);
    transform: scale(0.8) rotate(3deg);
}

.paragraph1 {
    font-size: 1.1em;
    text-align: left;
    padding-inline: 10px;
    color: #eaeaea;
}

.icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
    display: inline-block;
    vertical-align: text-bottom;
}

.dashedseparator {
    background-color: #333;
    margin: 10px 0;
    border-top: 1px ridge #333;
}

.wrapper {
    max-inline-size: 800px;
    min-block-size: 100vh;
    margin-inline: auto;
    padding-inline: 16px;
    background-color: #111111;
}

.goHomeLink {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #eaeaea;
    background-color: #222;
    border: 2px solid transparent;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    text-decoration: none;
    cursor: pointer;
    width: auto;
    max-width: 300px;
}

.goHomeLink svg {
    margin-right: 4px;
}

.goHomeLink:hover {
    color: #fff;
    background-color: #0070f3;
    border-color: #0070f3;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.dark .goHomeLink:hover {
    background-color: #1F1F1F;
    color: #fff;
    border-radius: 8px;
}

.white .goHomeLink:hover {
    background-color: #e3e3e3;
    color: #000;
    border-radius: 8px;
}

@media (max-width: 1024px) {
    .goHomeLink {
        width: auto;
    }
}

@media (max-width: 768px) {
    .goHomeLink {
        font-size: 16px;
        padding: 12px 18px;
    }
    .paragraph {
        padding-inline: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .goHomeLink {
        padding: 14px 20px;
    }
    .paragraph {
        padding-inline: 15px;
    }
}
