.title {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 16px;
}

.faqContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.paragraph {
    font-size: 1.1em;
    color: #cbcbcb;
    margin-bottom: 15px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    text-align: justify;
}

.goHomeLink {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    font-size: 16px;
}

.goHomeLink:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}