.header {
	--items-spacing: 24px;
	position: sticky;
	inset-block-start: 0;
	z-index: 10;
	display: flex;
	justify-content: center;
	block-size: var(--header-block-size);
	padding-inline: 24px;
	background-color: hsl(var(--color-background-hsl) / 0.8);
	backdrop-filter: saturate(180%) blur(5px);
	border-block-end: 1px solid var(--color-stroke);
	transition: border-block-end-color var(--theme-transition-duration),
	background-color var(--theme-transition-duration);
}

.contentWrapper {
	display: flex;
	align-items: center;
	column-gap: 32px;
	max-inline-size: var(--max-inline-size);
	inline-size: 100%;
}

.homeLogo > path {
	stroke-dasharray: 1;
	stroke-dashoffset: 1;
	fill: transparent;
	animation-duration: 5s, 500ms;
	animation-timing-function: linear;
	animation-name: dash, fill;
	animation-delay: 0ms, 500ms;
	animation-fill-mode: forwards;
}

.homeLogo {
	transition: transform 0.3s ease, filter 0.3s ease, color 0.5s ease;
	color: #ffffff;
	animation: flicker 4s linear, lightOn 5s forwards;
}

.homeLogo:hover {
	filter: brightness(1.3);
	transform: rotate(-6deg) scale(1.1);
	color: #656363;
}

.nav {
	margin-inline-end: auto;
}

.navList {
	display: flex;
	gap: 0 var(--items-spacing);
	list-style: none;
	padding-inline-start: 0;
}

.optionsWrapper {
	display: flex;
	align-items: center;
	gap: 0 var(--items-spacing);
}

@media screen and (max-width: 768px) {
	.nav,
	.optionsWrapper {
		display: none;
	}
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes fill {
	to {
		fill: currentColor;
	}
}

@keyframes flicker {
	0%, 8%, 18%, 30%, 42%, 50%, 60%, 70%, 85%, 100% {
		opacity: 1;
	}
	5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 80%, 90% {
		opacity: 0.2;
	}
	10%, 20%, 28%, 40%, 48%, 58%, 68%, 78%, 88%, 95% {
		opacity: 0.5;
	}
}

@keyframes lightOn {
	0% {
		filter: brightness(0);
	}
	100% {
		filter: brightness(1);
	}
}
