.section {
	max-inline-size: 1920px;
	margin-inline: auto;
}

.title {
	text-align: center;
	font-size: clamp(2rem, 0.4rem + 8vw, 10rem);
	font-weight: 900;
	line-height: normal;
}

.title > span:last-of-type {
	justify-self: self-end;
}

@media (min-width: 768px) {
	.title {
            display: grid;
            font-size: clamp(1rem, 0.1rem + 6vw, 6rem);
            font-weight: 900;
            line-height: normal;
	}
}