.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: var(--color-highlight);
    font-weight: bold;
    margin-top: 8px;
    padding: 4px 8px;
    background: var(--color-background);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, color 0.3s ease;
}

.clockIcon {
    margin-right: 8px;
    font-size: 15px;
}
