.link {
	display: inline-flex;
	color: var(--color-text-secondary);
	transition: color var(--theme-transition-duration) ease;
}

.link:hover {
	color: var(--hover-color-background);
	cursor: url('~/public/assets/cursor/hand-pointer.png'), auto;
}

.arrowIcon {
	--size: 0.65em;
	inline-size: var(--size);
	block-size: var(--size);
}
