.footer {
	min-block-size: 100px;
	padding-inline: var(--space-inline);
	border-block-start: 1px solid var(--border-color);
	font-size: clamp(20px, 19.024px + 0.259vw, 24px);
	transition: border-block-start-color var(--theme-transition-duration), background-color var(--theme-transition-duration), color var(--theme-transition-duration);
	background-color: var(--background-color);
	text-align: center;
	color: var(--text-color);
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	justify-content: center;
	align-items: center;
	max-inline-size: var(--max-inline-size);
	margin-inline: auto;
	padding-block: 32px;
}

.year {
	text-wrap: nowrap;
	color: var(--text-color);
	font-size: clamp(14px, 1.5vw, 18px);
}

.linksWrapper {
	display: flex;
	justify-content: center;
	gap: 16px;
	flex-wrap: wrap;
	color: var(--text-color);
}

.link {
	display: flex;
	align-items: center;
	text-decoration: none;
	font-size: 16px;
	color: var(--link-color);
	transition: color 0.3s;
}

.icon {
	margin-right: 4px;
	font-size: 1.2em;
}

.link.linkedin:hover {
	color: #0073b1;
}

.link.github:hover {
	color: #5e5e5e;
}

.link.email:hover {
	color: #5e5a5a;
}

.link.youtube:hover {
	color: #FF0000;
}

.link.itchio:hover {
	color: #fa5c5c;
}

.footer .wrapper .year {
	display: flex;
	align-items: center;
	gap: 6px;
	font-size: 16px;
}

.icon {
	flex-shrink: 0;
}

@media (min-width: 768px) {
	.footer {
		margin-top: 20px;
	}

	.wrapper {
		flex-direction: row;
		justify-content: space-between;
	}

	.year {
		order: 1;
		margin-bottom: 0;
	}

	.linksWrapper {
		order: 2;
		justify-content: flex-end;
		gap: 24px;
		margin-right: 58px;
	}
}

@media (max-width: 767px) {
	.footer {
		padding: 20px;
	}

	.year {
		font-size: 0.9em;
		margin-bottom: 16px;
	}

	.linksWrapper {
		flex-direction: row;
		justify-content: center;
	}
}
