.light {
    --color-text-secondary: #757575;
    --color-text: #000000;
    --theme-transition-duration: 0.3s;
    --scroll-button-bg: #030303;
    --scroll-button-color: #ffffff;
}

.dark {
    --color-text-secondary: #bbbbbb;
    --color-text: #ffffff;
    --theme-transition-duration: 0.3s;
    --scroll-button-bg: #f1f1f1;
    --scroll-button-color: #030303;
}

.button {
    --size: 24px;
    inline-size: var(--size);
    block-size: var(--size);
    padding: 0;
    color: var(--color-text-secondary);
    background-color: transparent;
    border: none;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    transition: color var(--theme-transition-duration) ease;
}

.sunAndMoon {
    --size: 100%;
    inline-size: var(--size);
    block-size: var(--size);
}

:is(.sun, .sunBeams) {
    transform-origin: center;
}

[data-theme="dark"] .sun {
    transform: scale(1.75);
}

[data-theme="dark"] .sunBeams {
    opacity: 0;
}

@media (prefers-reduced-motion: no-preference) {
    .sun {
        transition: transform 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }

    [data-theme="dark"] .sun {
        transform: scale(1.75);
        transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
        transition-duration: 250ms;
    }

    .sunBeams {
        transition: transform 500ms cubic-bezier(0.68, -0.6, 0.32, 1.6), opacity 500ms cubic-bezier(0.33, 1, 0.68, 1);
    }

    [data-theme="dark"] .sunBeams {
        transform: rotate(-25deg);
        transition-duration: 150ms;
    }
}

.scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: var(--scroll-button-bg);
    color: var(--scroll-button-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: opacity 0.3s ease-in-out, background-color 0.3s, transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
    font-size: 16px;
}

.scrollToTop.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.scrollToTop.hide {
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
}

.scrollToTop.up {
    transform: rotate(0deg);
}

.scrollToTop.down {
    transform: rotate(180deg);
}

.scrollToTop:hover {
    background-color: var(--scroll-button-hover-bg);
}

@media (min-width: 768px) {
    .scrollToTop {
        width: 75px;
        height: 75px;
        font-size: 30px;
    }
}

@media (min-width: 1024px) {
    .scrollToTop {
        width: 60px;
        height: 60px;
        font-size: 24px;
    }
}
