.wrapper {
	padding-block: 32px 64px;
}

.goHomeLink {
	margin-inline-end: 8px;
}

.goHomeLink svg {
	transform: translateY(4px);
	margin-right: 4px;
}

.title {
	padding-block-start: 32px;
	font-size: 40px;
}

.date {
	color: var(--color-text-secondary);
}

@media screen and (max-width: 768px) {
	.wrapper {
		padding-block-end: 48px;
	}

	.title {
		font-size: 32px;
	}
}
