.cardStyle {
    margin: 20px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
    width: 300px;
    box-sizing: border-box;
}

.cardStyle:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.projectsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
    padding: 20px;
}

.tag {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    margin: 5px;
    font-size: 14px;
    border-radius: 20px;
    font-weight: 500;
    text-transform: lowercase;
    cursor: url("/assets/cursor/hand-pointer.png"), auto;
    transition: background-color 0.2s ease-in-out;
}

.tag:hover {
    background-color: #333; /* Cambio de color al pasar el ratón */
}
