.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 8px;
    font-weight: 500;
    text-decoration: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color var(--theme-transition-duration);
    padding: 0 16px;
    box-sizing: border-box;
    overflow: hidden;
}
.button:disabled {
    opacity: 0.7;
    pointer-events: none;
}
.primary {
    background-color: var(--color-text);
    color: var(--color-background);
}
.outlined {
    --hover-color-background: hsl(0 0% 88%);
    --hover-color-stroke: hsl(0 0 0 / 0.12);
    background-color: var(--color-themed-background);
    color: var(--color-text);
    border: 1px solid var(--color-themed-stroke);
    transition-property: background-color, border-color;
}
[data-theme="dark"] .outlined {
    --hover-color-background: hsl(0 0% 12%);
    --hover-color-stroke: hsl(0 0% 100% / 0.17);
}
.primary:active {
    background-color: hsl(var(--color-text-hsl) / 0.8);
}
.outlined:active {
    background-color: var(--hover-color-background);
    border-color: var(--hover-color-stroke);
}
@media (hover: hover) {
    .primary:hover {
        background-color: hsl(var(--color-text-hsl) / 0.8);
        cursor: url('~/public/assets/cursor/hand-pointer.png'), auto;
    }
    .outlined:hover {
        background-color: var(--hover-color-background);
        border-color: var(--hover-color-stroke);
        cursor: url('~/public/assets/cursor/hand-pointer.png'), auto;
    }
}
@media (max-width: 767px) {
    .button {
        font-size: 18px;
        padding: 0 20px;
        line-height: 1.4;
    }
    .large {
        block-size: 75px;
        padding-inline: 24px;
        font-size: 18px;
        line-height: 1.4;
    }
    .medium {
        block-size: 50px;
        padding-inline: 20px;
        font-size: 18px;
        line-height: 1.4;
    }
    .small {
        block-size: 42px;
        padding-inline: 16px;
        font-size: 16px;
        line-height: 1.4;
    }
}
.default {
    border-radius: 6px;
}
.full {
    border-radius: 1rem;
}